In [83]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import cross_val_score

from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [3]:
cd C:\Users\Choi Hyun You\desktop\hw3

C:\Users\Choi Hyun You\desktop\hw3

a- Read	the	dataset	file	“Hearts_s.csv”	(you	should	download	it	from	CSNS),	and	assign	it	to	a	Pandas	DataFrame.

In [36]:
df = pd.read_csv('Heart_s.csv')

In [5]:
df.shape

(303, 10)

b- Check	out	the	dataset.	As	you	see,	the	dataset	contains	a	number	of	features	including	both	contextual	and	biological	factors	(e.g.	age,	gender,	vital	signs,	…).	The	last	column	“AHD”	is	the	label	with	“Yes”	meaning	that	a	human	subject	has	Heart	Disease,	and	“No”	meaning	that	the	subject	does	not	have	Heart	Disease

In [6]:
df.head()

,Age,Gender,ChestPain,RestBP,Chol,RestECG,MaxHR,Oldpeak,Thal,AHD
0,63,f,typical,145,233,2,150,2.3,fixed,No
1,67,f,asymptomatic,160,286,2,108,1.5,normal,Yes
2,67,f,asymptomatic,120,229,2,129,2.6,reversable,Yes
3,37,f,nonanginal,130,250,0,187,3.5,normal,No
4,41,m,nontypical,130,204,2,172,1.4,normal,No

c- As	you	see,	there	are	at	least	3	categorical	features	in	the	dataset	(Gender,	ChestPain,	Thal).	Let’s	ignore	these	categorical	features	for	now,	only	keep	the	numerical	features	and	build	your	feature	matrix	and	label	vector.

In [7]:
df_x = df[['Age','RestBP','Chol','RestECG','MaxHR','Oldpeak']]
df_y = df[['AHD']]

d- Split	the	dataset	into	testing	and	training	sets	with	the	following	parameters:	test_size=0.3,	random_state=3.

In [8]:
X_train, X_test, y_train, y_test = train_test_split(df_x, df_y, test_size=0.3, random_state=3)

e- Use	KNN	(with	k=5),	Decision	Tree,	and	Logistic	Regression	Classifiers	to	predict	Heart	Disease	based	on	the	training/testing	datasets	that	you	built	in	part	(d).	Then	check,	compare,	and	report	the	accuracy	of	these	3	classifiers.	Which	one	is	the	best?	Which	one	is	the	worst

In [30]:
#KNN
my_knn = KNeighborsClassifier(n_neighbors=5)
my_knn.fit(X_train, y_train)
y_pred_knn = my_knn.predict(X_test)
score_knn = accuracy_score(y_test, y_predict_dt)
print"accuracy of KNN is", (score_knn)

#Decision Tree
my_decisiontree = DecisionTreeClassifier()
my_decisiontree.fit(X_train, y_train)
y_predict_dt = my_decisiontree.predict(X_test)
score_dt = accuracy_score(y_test, y_predict_dt)
print"accuracy of Decision Tree is", (score_dt)

#Logistic Regression
my_logreg = LogisticRegression()
my_logreg.fit(X_train, y_train)
y_predict_lr = my_logreg.predict(X_test)
score_lr = accuracy_score(y_test, y_predict_lr)
print "accuracy of Logistic Regression is", (score_lr)

accuracy of KNN is 0.527472527473
accuracy of Decision Tree is 0.626373626374
accuracy of Logistic Regression is 0.725274725275

C:\Users\Choi Hyun You\Anaconda2-1\lib\site-packages\ipykernel\__main__.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  app.launch_new_instance()

The Logistic Regression is best classifier.

f- Now,	we	want	to	use	the	categorical	features	as	well!	To	this	end,	we	have	to	perform	a	feature	engineering	process	called	OneHotEncoding	for	the	categorical	features.	To	do	this,	each	categorical	feature	should	be	replaced	with	dummy	columns	in	the	feature	table	(one	column	for	each	possible	value	of	a	categorical	feature),	and	then	encode	it	in	a	binary	manner	such	that	only	one	of	the	dummy	columns	can	take	“1”	at	a	time	(and	zero	for	the	rest).	For	example,	“Gender”	can	take	two	values	“m”	and	“f”.		Thus,	we	need	to	replace	this	feature	(in	the	feature	table)	by	2	columns	titled	“m”	and	“f”.		Wherever	we	have	a	male	subject,	we	can	put	“1”	and	”0”	in	the	columns	“m”	and	“f”.		Wherever	we	have	a	female	subject,	we	can	put	“0”	and	”1”	in	the	columns	“m”	and	“f”.	(Hint:	you	will	need	4	columns	to	encode	“ChestPain”	and	3	columns	to	encode	“Thal”).

In [45]:
new = {"No":0,"Yes":1}
df_categorical = df.replace({"AHD":new})

In [46]:
df_categorical.head()

,Age,Gender,ChestPain,RestBP,Chol,RestECG,MaxHR,Oldpeak,Thal,AHD
0,63,f,typical,145,233,2,150,2.3,fixed,0
1,67,f,asymptomatic,160,286,2,108,1.5,normal,1
2,67,f,asymptomatic,120,229,2,129,2.6,reversable,1
3,37,f,nonanginal,130,250,0,187,3.5,normal,0
4,41,m,nontypical,130,204,2,172,1.4,normal,0

In [51]:
df_dummies= pd.get_dummies(df_categorical)

In [57]:
df_dummies.shape

(303, 16)

g- Repeat	parts	(d)	and	(e)	with	the	new	dataset	that	you	built	in	part	(f).	How	does	the	prediction	accuracy	change	for	each	method?

In [54]:
df_dummies_x = df_dummies.drop("AHD", axis =1)
df_dummies_y = df_dummies[['AHD']]

In [59]:
X_train, X_test, y_train, y_test = train_test_split(df_dummies_x, df_dummies_y, test_size=0.3, random_state=3)

In [64]:
#KNN
my_knn = KNeighborsClassifier(n_neighbors=5)
my_knn.fit(X_train, y_train)
y_pred_knn = my_knn.predict(X_test)
score_knn = accuracy_score(y_test, y_predict_dt)
print"accuracy of KNN is", (score_knn)

#Decision Tree
my_decisiontree = DecisionTreeClassifier()
my_decisiontree.fit(X_train, y_train)
y_predict_dt = my_decisiontree.predict(X_test)
score_dt = accuracy_score(y_test, y_predict_dt)
print"accuracy of Decision Tree is", (score_dt)

#Logistic Regression
my_logreg = LogisticRegression()
my_logreg.fit(X_train, y_train)
y_predict_lr = my_logreg.predict(X_test)
score_lr = accuracy_score(y_test, y_predict_lr)
print "accuracy of Logistic Regression is", (score_lr)

accuracy of KNN is 0.725274725275
accuracy of Decision Tree is 0.791208791209
accuracy of Logistic Regression is 0.846153846154

C:\Users\Choi Hyun You\Anaconda2-1\lib\site-packages\ipykernel\__main__.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  app.launch_new_instance()

h- Now,	repeat	part	(e)	with	the	new	dataset	that	you	built	in	part	(f),	this	time	using	CrossValidation.	Thus,	rather	than	splitting	the	dataset	into	testing	and	training,	use	10-fold	Cross-Validation	(as	we	learned	in	Lab4)	to	evaluate	the	classification	methods	and	report	the	final	prediction	accuracy.

# Question2:	Debt	Prediction

a- Read	the	dataset	file	“Credit.csv”	(you	should	download	it	from	CSNS),	and	assign	it	to	a	Pandas	DataFrame.

In [67]:
df = pd.read_csv('Credit.csv')

b- Check	out	the	dataset.	The	“Credit”	dataset	includes	“balance”	column	(average	credit	card	debt	for	a	number	of	individuals)	as	target,	as	well	as	several	features:	age,	cards	(number	of	credit	cards),	education	(years	of	education),	income	(in	thousands	of	dollars),	limit	(credit	limit),	marital	status,	and	rating	(credit	rating).

In [68]:
df.head()

    Income  Limit  Rating  Cards  Age  Education  Married  Balance
0   14.891   3606     283      2   34         11        1      333
1  106.025   6645     483      3   82         15        1      903
2  104.593   7075     514      4   71         11        0      580
3  148.924   9504     681      3   36         11        0      964
4   55.882   4897     357      2   68         16        1      331

c- Generate	the	feature	matrix	and	target	vector	(target	is	“balance”	in	this	dataset).	Then,	normalize	(scale)	the	features	(note:	don’t	normalize	the	target	vector!)

In [69]:
df_x = df.drop("Balance", axis =1)
df_target = df[['Balance']]

In [80]:
from sklearn import preprocessing

x = df_x.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
df_x = pd.DataFrame(x_scaled)

df_x = df_x.rename(columns={0: 'Income', 1: 'Limit', 2: 'Rating', 3: 'Card', 
                            4: 'Age', 5: 'Education',6: 'Married'})

In [81]:
df_x.head()

     Income     Limit    Rating   Card       Age  Education  Married
0  0.025737  0.210675  0.213723  0.125  0.146667   0.400000      1.0
1  0.542722  0.443406  0.438695  0.250  0.786667   0.666667      1.0
2  0.534598  0.476336  0.473566  0.375  0.640000   0.400000      0.0
3  0.786079  0.662353  0.661417  0.250  0.173333   0.400000      0.0
4  0.258271  0.309542  0.296963  0.125  0.600000   0.733333      1.0

d- Split	the	dataset	into	testing	and	training	sets	with	the	following	parameters:	test_size=0.2,	random_state=2.

In [82]:
X_train, X_test, y_train, y_test = train_test_split(df_x, df_target, test_size=0.2, random_state=2)

e- Use	Linear	Regression	to	train	a	linear	model	on	the	training	set.	Check	the	coefficients	of	the	linear	regression	model.	Which	feature	is	the	most	important?	Which	feature	is	the	least	important?

In [90]:
my_linreg = LinearRegression()
my_linreg.fit(X_train, y_train)

# printing Theta0 using attribute "intercept_":
print(my_linreg.intercept_)

# printing [Theta1, Theta2, Theta3] using attribute "coef_":
print(my_linreg.coef_)

# make predictions on the testing set
y_prediction = my_linreg.predict(X_test)

[-217.5215985]
[[-1335.05622712  1274.31561504  2210.09784246    92.0226555    -78.07984853
     30.25533254   -48.45522561]]

f- Predict	“balance”	for	the	users	in	testing	set.	Then,	compare	the	predicted	balance	with	the	actual	balance	by	calculating	and	reporting	the	RMSE	(as	we	saw	in	lab	tutorial	4)

In [91]:
from sklearn import metrics
import numpy as np

# Calculating "Mean Square Error" (MSE):
mse = metrics.mean_squared_error(y_test, y_prediction)

# Using numpy sqrt function to take the square root and calculate "Root Mean Square Error" (RMSE)
rmse = np.sqrt(mse)

print(rmse)

154.410746767